# Supabase Connection Secrets (Public Anon Key)
VITE_SUPABASE_URL="https://tazibuwwqfvotgjwfyeq.supabase.co/rest/v1/"
VITE_SUPABASE_PUBLISHABLE_KEY="
# Gemini API Key
GEMINI_API_KEY="AQ.Ab8RN6J82-wYQLd7bHdMji-165eIe4P7byCUZx_M_vChSbjhKg"

# App Hosting URL
APP_URL=
